/* line 5, ../compass/sass/layout/_navbar.scss */
nav > a:hover {
  text-decoration: none;
}

/* line 8, ../compass/sass/layout/_navbar.scss */
.stretch-height {
  height: 100vh;
}

/* line 11, ../compass/sass/layout/_navbar.scss */
nav > a:hover {
  text-decoration: none;
}

/* line 14, ../compass/sass/layout/_navbar.scss */
.menu {
  font-size: 1.5em;
  font-weight: 300;
  color: #EE9C5D;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .5s;
}

/* line 22, ../compass/sass/layout/_navbar.scss */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #E3EAE3;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* line 34, ../compass/sass/layout/_navbar.scss */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
/* line 44, ../compass/sass/layout/_navbar.scss */
.sidenav a:hover, .offcanvas a:focus {
  color: #EE9C5D;
}

/* Position and style the close button (top right corner) */
/* line 49, ../compass/sass/layout/_navbar.scss */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* line 56, ../compass/sass/layout/_navbar.scss */
#root {
  transition: all .5s;
}

/* line 6, ../compass/sass/views/_skills.scss */
.each-icon {
  width: 8.333333333333%;
  /* border: 1px solid blue; */
  float: right;
}

/* line 12, ../compass/sass/views/_skills.scss */
.app {
  /* border: 1px solid red; */
}

/* line 15, ../compass/sass/views/_skills.scss */
.icon-wrapper {
  /* border:1px solid black; */
  width: 100%;
  float: right;
}

/* line 20, ../compass/sass/views/_skills.scss */
.icon-bar {
  text-align: center;
}

/* line 23, ../compass/sass/views/_skills.scss */
.skills-main {
  height: 50px;
  width: 100%;
  background: blue;
}

/* line 6, ../compass/sass/views/_main.scss */
body:hover {
  background: #f8f8f8;
  animation: myFirst 1s;
  -moz-animation: myfirst 1s infinite;
  /* Firefox */
  -webkit-animation: myfirst 1s infinite;
  /* Safari and Chrome */
}

@-moz-keyframes myfirst /* Firefox */ {
  0% {
    background: #b0b0b0;
  }
  50% {
    background: #f8f8f8;
  }
  100% {
    background: #b0b0b0;
  }
}
@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0% {
    background: #b0b0b0;
  }
  50% {
    background: #f8f8f8;
  }
  100% {
    background: #b0b0b0;
  }
}
/* line 27, ../compass/sass/views/_main.scss */
.test {
  color: #f8f8f8;
  animation: mySecond 1.5s;
  -moz-animation: mySecond 1.5s infinite;
  /* Firefox */
  -webkit-animation: mySecond 1.5s infinite;
  /* Safari and Chrome */
}

@-moz-keyframes mySecond /* Firefox */ {
  0% {
    color: #228b22;
  }
  50% {
    color: #0000ff;
  }
  100% {
    color: #228b22;
  }
}
@-webkit-keyframes mySecond /* Safari and Chrome */ {
  0% {
    color: #228b22;
  }
  50% {
    color: #0000ff;
  }
  100% {
    color: #228b22;
  }
}
